[submodule "pack/rportier/start/nerdtree"]
	path = pack/rportier/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "pack/rportier/start/fugitive"]
	path = pack/rportier/start/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "pack/rportier/start/latex-live-preview"]
	path = pack/rportier/start/latex-live-preview
	url = https://github.com/xuhdev/vim-latex-live-preview.git
